
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Ruben Cecíl -- Web Development Agency</title>
	<link rel="home" href="http://rubencecil.com" />
	<link href="https://s3.amazonaws.com/rubencecil/favicon.ico" rel="icon" type="image/x-icon" />

	<meta name="description" content="web developers, web development agency, web design, websites, web applications, freelance, freelance developers">
	<meta name="keywords" content="">

	<meta property="og:title" content="Ruben Cecíl -- Web Agency">
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="Ruben Cecíl -- Web Agency">
	<meta property="og:description" content="We create compelling web applications for the 21st century.">

	<link rel="stylesheet" href="https://s3.amazonaws.com/rubencecil/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<script type="text/javascript" src="https://s3.amazonaws.com/rubencecil/api4vns.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<style>
	.nostyle a {
		all: initial;
		* {
		    all: unset;
		  }
	}

	.nostyle a:hover {
		background-color:white;
		color:#323232;
	}
	</style>
</head>

<body>
	<div class="container">

				<div class="page-section intro" style="padding-top:150px;">
		<div class="section-content">
			<div class="header-text">
				<h1 class="animated fadeInUp">Ruben Cecíl</h1>
			</div>
		</div>
	</div>

	<div class="page-section footer animated fadeInUp">
		<div class="section-content">
			<p><a href="mailto:jasonrdecastro@gmail.com">Interested in working together?</a></p>
			<div class="nostyle">
				<a class="" href="https://linkedin.com/in/jasondecastro"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
				<a class="" href="https://github.com/jasondecastro"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
			</div>
		

		</div>
	</div>

	</div>



</body>
</html>
